:root {
  --font-mono: 'Source Code Pro', monospace;
  --font-sans: 'Monda', sans-serif;

  --clr-almost-black: #2c2f33;
  --clr-pure-black: #000000;
  --clr-winter-morning: #ffffff;
  --clr-cold-winds: #3460fe;

  --transition-time: 500ms;
  --transition-curve: ease;
  --transition: var(--transition-time) var(--transition-curve);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-sans);
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.75rem;
  background: var(--fg);
}

::-webkit-scrollbar-thumb {
  background: var(--bg);
}

::selection {
  background: var(--fg);
  color: var(--bg);
}
